@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold-50: #fbf8eb;
  --color-gold-100: #f5eed1;
  --color-gold-200: #ead9a8;
  --color-gold-300: #dec07a;
  --color-gold-400: #d2a651;
  --color-gold-500: #cc913b;
  --color-gold-600: #b0732e;
  --color-gold-700: #8c5628;
  --color-gold-800: #744626;
  --color-gold-900: #603b24;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased selection:bg-gold-500/30 selection:text-gold-200;
  }
}